.buttons button{
    background-color: darkgrey;
    color: black;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid black;
    margin: 5px;
}
.buttons > button:hover{
    background-color: gray;
}
.foto-detail > img{
    max-width: 500px;
}
@media all and (max-width: 780px){
    .foto-detail img{
        width: 200px;
        padding: 0%;
    }}
@media all and (max-width: 480px){
    .foto-detail img{
        width: 200px; 
        padding: 0%;
    }}