.fotoCart {
    height: 200px;
    margin: 0%;
    padding: 0;
    margin-right: 5px;
}
.body > ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.body li{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    border: 1px solid white;
    margin: 5px;
    text-align: start;
}
.producto{
    display: flex;
    font-size: medium;
    justify-content: center;
    height: 200px;
}
.producto button {
    border: 1px solid black;
    background-color: rgb(255, 7, 7);
    color: rgb(255, 255, 255);
    border-radius: 30px;
    text-decoration: none;
    max-height: 20px;
    margin: 0%;
    padding: 20px;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    margin-left: 20px;
    display: block;
}
.buttons button > a{
    text-decoration: none;
    color: black;
}
.buttons button{
    background-color: darkgrey;
    color: black;
    border-radius: 5px;
    text-decoration: none;
}
.buttons > button:hover{
    background-color: gray;
}
.containerCart {
    border: 1px solid white;
}
form{
    display: flex;
    flex-direction: column;
}
form input{
    background-color: lightgrey;
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 13px;
}
@media all and (max-width: 480px){
    .body li{
        height: auto;
        display:flex;
        align-items: center;
        justify-content: center;
        max-width: 300px;
        border: 1px solid white;
        margin: 5px;
        text-align: start;
    }
    .fotoCart {
        height: 100px;
    }
}