.fotoCart {
    height: 200px;
    margin: 0%;
    padding: 0;
    margin-right: 5px;
}
ul{
    list-style: none;
}
.producto{
    align-items: flex-start;
    font-size: medium;

}
.buttons button{
    background-color: darkgrey;
    color: black;
    border-radius: 5px;
    text-decoration: none;
}
.buttons > button:hover{
    background-color: gray;
}
.containerCart {
    border: 1px solid white;
}