.card{
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0%;
    text-decoration: none;
    max-width: 300px;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.card-header{
    font-size: 30px;
    margin: 0%;
    padding: 0%;
    height: 70px;
}
.card-footer{ 
    font-size: 25px;
    margin: 0;
    padding: 2px;
    justify-content: center;
}
.foto{
    height: 200px;
    margin: 0%;
    padding: 0%;
}