.contador button {
    background-color: darkgrey;
    color: black;
    border-radius: 5px;
}
.contador > button:hover{
    background-color: gray;
}
.add > button:hover{
    background-color: gray;
}