.Navbar {
    height: 40px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 10px;

}
.Navbar > .nav-logo {
    display: flex;
}
.Navbar > .nav-logo img {
    height: 130px;
}
.Navbar > .nav-items a{
    color: aliceblue;
    font-size: 16px;
    text-decoration: none;
    margin: 15px;
    position: relative;
    opacity: 0.9;
}
.cant-num{
    background-color: red;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    margin: 0%;
    padding: 0;
    position: relative;
    right: -35px;
    top:-50px;
    text-decoration: none;
    max-width: 30px;
}

