* {
    margin: 0%;
    padding: 20px;
    box-sizing: border-box;
    color: aliceblue;
    font-family: sans-serif;
    justify-content: center;
}
body {
margin: 0;
padding: 0;
}
html {
    margin: 0;
    padding: 0;
}

.App {
    background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: auto;
    text-align: center;
    justify-content: center;
}


