* {
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}
.App {
    background: rgb(206, 205, 201);
    height: auto;
    text-align: center;
    justify-content: center;
}
.App > img {
    height: 50px;
}

