.contador button {
    background-color: darkgrey;
    color: black;
    border-radius: 5px;
}
.contador > button:hover{
    background-color: gray;
}

@media all and (max-width: 780px){
    .foto-detail img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        padding: 0%;
    }}
@media all and (max-width: 480px){
    .foto-detail img{
        width: 200px;
        padding: 0%;
    }}